<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter Joueur</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
</head>
<body>
<div class="container mt-5">
    <div th:replace="fragments/header :: header"></div>
    <h2>Ajouter un Nouveau Joueur</h2>
    <form th:action="@{/players/save}" method="post" th:object="${player}">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom :</label>
            <input type="text" id="nom" th:field="*{nom}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Âge :</label>
            <input type="number" id="age" th:field="*{age}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="nationalite" class="form-label">Nationalité :</label>
            <input type="text" id="nationalite" th:field="*{nationalite}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">Position :</label>
            <input type="text" id="position" th:field="*{position}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="team" class="form-label">Équipe :</label>
            <select id="team" th:field="*{team.id}" class="form-select">
                <option th:value="0">-- Aucune --</option>
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.nom}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <a th:href="@{/players/all}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
</body>
</html>